.DS_Store
/abgabe/Screencast_Disputatio_GFOS_2021_Baginski-Engel-Thomas.mkv

key.properties
app/upload-keystore.jks
.dart_tool/
.packages/
build/
.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins